@page "/"
@using System.Diagnostics

<div>
    <div style="display: table; margin: 0 auto; text-align: center">
        <div class="card">
            <h2 class="mt-2">Conway's Game of Life</h2>
            <div class="card-body d-flex justify-content-around">
                <div>
                    <h5 class="card-title">Population Count</h5>
                    <p class="card-text">@_populationCount</p>
                </div>
                <div>
                    <h5 class="card-title">Timer</h5>
                    <p class="card-text">@_timer.Elapsed.ToString(@"mm\:ss\.ff")</p>
                </div>
            </div>
        </div>        
        <div id="gridWrapper" style="grid-template-rows: repeat(@Size, 1em); grid-template-columns: repeat(@Size, 1em);">
            @for (var i = 1; i <= Size; i++)
            {
                for (var j = 1; j <= Size; j++)
                {
                    var x = i-1;
                    var y = j-1;
                    if (_gameBoard.Cells[i-1, j-1])
                    {
                        <div style="grid-column: @i; grid-row: @j; background-color: black" @onclick="e => ToggleState(x, y)"></div>
                    }
                    else
                    {
                        <div style="grid-column: @i; grid-row: @j; background-color: white" @onclick="e => ToggleState(x, y)"></div>
                    }

                }
            }
        </div>
        <div style="display: flex; justify-content: space-evenly">
            <button class="btn btn-primary" style="width: 30%;" disabled="@_isStarted" @onclick="Start">Start</button>
            <button class="btn btn-primary" style="width: 30%;" disabled="@(_isStarted == false)" @onclick="Stop">Stop</button>
        </div>
        <br/>
        <div style="display: flex; justify-content: space-evenly">
            <button class="btn btn-primary" style="width: 30%;" disabled="@_isStarted" @onclick="RandomizeGameBoard">Go Random</button>
            <button class="btn btn-primary" style="width: 30%;" @onclick="Reset">Reset</button>
        </div>
    </div>
        
</div>



@code {
    private const int Size = 40;
    private GameBoard _gameBoard;
    private bool _isStarted;
    private int _populationCount;
    private Stopwatch _timer;

    public void ToggleState(int x, int y)
    {
        var currentState = _gameBoard.Cells[x, y];
        _gameBoard.Cells[x, y] = !currentState;
    }

    private void RandomizeGameBoard()
    {
        _gameBoard.Randomize();
    }

    private async Task Start()
    {
        _isStarted = true;
        _timer.Start();
        while (_isStarted)
        {
            await Task.Delay(50);
            _gameBoard.Update();
            _populationCount++;
            StateHasChanged();
            if (_gameBoard.IsNoCellAlive())
                Stop();
        }
    }

    private void Stop()
    {
        _isStarted = false;
        _timer.Stop();

    }

    protected override void OnInitialized()
    {
        base.OnInitialized(); _gameBoard = GameBoard.Create(Size, new bool[Size, Size]);
        _isStarted = false;
        _populationCount = 0;
        _timer = new Stopwatch();
    }

    private void Reset()
    {
        Stop();
        _populationCount = 0;
        _gameBoard.Reset();
    }
}